* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}
*li {
  list-style-type: none;
}

html,
body {
  background-color:#373e3f;
}

.bg-color-base {
  background-color: #373e3f;
}

.whats-icon {
  color: #25d366;
}

.nav-container {
  height: 480px;
  background-color: #373e3f;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-contact-card { 
    height: 70px;
    width: 100px;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    border:#000 solid 1.2px; 

}

.nav-contact-card img { 
    margin: 0 auto;
}
.nav-contact-card a,p { 
   text-decoration: none ;
    margin-left: 30px;
    color: #fff;
}

.profile-avatar {
  width: 280px;
  margin-left: 20px;
  margin-top: -40px;
  margin-bottom: -20px;

}
.soft-skills{
    width: 280px;
    margin-left: 45px;
}
.nav-ul h2 {
  width: 250px;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 170px;
  color: #000;
  font-size: 20px;
}

#name {
    
      width: 250px;
      text-align: center;
      border-radius: 6px;
      padding: 10px;
            background-color: #000;
      margin: 0 auto;
      color: #fff;
      font-size: 20px;

    }

.contact-link {
  color: #fff;
  cursor: pointer;
}



.contacts {
    color:#fff;
    background-color: #373e3f;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    padding: 20px;
}
.contacts a{
    color:#fff;

}

.card-edu {
    border: solid  1px #000;
display: flex;
flex-direction: column;
align-self: center;
  background-color: #333;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 25px;

}


.education-container {
    margin-top: 80px;
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-education { 
    color: #fff;
    margin-bottom: 20px;
}
.stunding-time{
    margin: 0 auto;
    font-size: 10px;
    color: #8f8f8f;

}

.card-edu h3{ 
    margin: 0 auto;
    color: #fff;
}
.schol-name{ 

    color: #FFF;
    margin: 0 auto;
}




.course-container {
    max-width: 900px;
    padding: 40px 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card-course {
    border: solid  3px #000;
    display: flex;
    align-items: center;

    justify-content: space-between;
    background-color: #F0F8FF;
    width: 100%;
    max-width: 400px;
    height: 90px;
    border-radius: 8px;
    padding: 25px;
    margin: 25px 25px;

    
}

.card-hover :hover{
  background-color: #000;
  display: block;
  justify-content: center;

}

.card-hover :hover  p {
 display: none;
}
.card-hover :hover  img{
display: none;
 
}
.card-hover :hover  h3{
 font-size: 16px;
 color: #fff;
 }

.card-course a { 
  style: none;
  text-decoration: none; }

.course-logo {
  display: block;
  width: 80px;
}
 
.course-text {
  display: block;
  text-align: center;
  font-size: 13px;

  
}
#title-course { 
  display: block;
  color: #F0F8FF;
  text-align: center;
  margin: 0 auto;
}
.stunding-time{

  margin-top: 5px;
    font-size: 10px;
    color: #8f8f8f;

}
.container {
  display: flex;
  align-items: center;
}

.card-course h3{ 
    margin: 0 auto;
    color: #333;
}
.schol-course-name{ 
    color: #000;
    margin-top: 5px;
    font-size: 10px;
}




.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: none;
}

.error-message {
  margin-top: 5px;
  color: #faa;
  display: none;
}

.form-input {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 14px;
  border: 0;
}

.form-input::placeholder {
  color: #c9c9c9;
}

.form-input:disabled {
  background-color: #ddd;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 250px;
  height: 50px;
  background-color: #ff8400;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

.list-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list-item {
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  padding: 20px;
}

.card-list-item h3 {
  color: #ff8400;
  font-size: 18px;
}

.address-line {
  color: #fff;
  font-size: 14px;
}

.address-cep {
  color: #8f8f8f;
  font-size: 12px;
}

.work-experience-container{
width: 100%;
max-width: 1024px;
margin: 0 auto;
background-color: #fff;
border: #000 solid 5px;
border-radius: 10px;
padding: 50px;
display: flex;
flex-direction: column;
align-items: center;

}

.work-card {
  width: 100%;
  max-width: 800px;

  text-align: center;
}
.work-title {
font-size: 26px;
margin-top: 20px;
}
.office-title { 
  font-size:16px;
  margin-top: 5px;;
  margin-bottom: 15px;
}
.work-description {
  font-size: 16px;
  color: #000;
  text-align: left;
}
.work-period {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #373e3f;
}